@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  padding: 0%;
  margin: 0%;
}
body {
  height: 100vh;
  background-color: hsl(257, 40%, 49%);
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
main {
  margin: 0 auto;
  width: 1320px;
  height: 100vh;
}
/* The image and the Letter heads with<p> */
.container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
  margin: 0 2rem;
}
/* Huddles LOGO */
.logo {
  padding-bottom: 25px;
}
/* Image Mock and Letter Div */
.image-text {
  display: flex;
  align-items: center;
  gap: 40px;
}
/* The <h>and <p> */
.Word-combo {
  margin-bottom: 200px;
}
h1 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 34px;
  word-spacing: 2px;
  letter-spacing: 1px;
}
p {
  color: hsl(300, 22%, 91%);
  font-family: "Poppins", sans-serif;
  margin-top: 23px;
}

/* The Social Icons */
.link a {
  display: inline-block;
  background-color: white;
  margin-top: 20px;
  padding: 13px 50px;
  text-align: center;
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 8px 17px -8px black;
  transition: all 0.3s ease;
  text-decoration: none;
}

.link a:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}
.socials {
  text-align: right;
}

.socials i {
  color: white;
  font-size: 18px;
  position: relative;
  width: 20px;
  height: 20px;
}
.socials a {
  transition: all 0.3s ease;
}  
.socials a:not(:first-child){
  margin-left: 2rem;
}
.socials a i::after{
  content: '';
  position: absolute;
  height: 33px;
  width: 33px;
  border: 1.5px solid white;
  border-radius: 50%;
  left: -6px;
  bottom: -9px;
  transition: all 0.3s ease;
}
.socials a:hover i{
  color: hsl(300, 69%, 71%);
}
.socials a:hover::after{
  border-color: hsl(300, 69%, 71%);
}

@media screen and (max-width:376px){
  body {
    height: 100vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url(./images/bg-mobile.svg);
    background-size: 480px;
  }
  main{
    display: block;
    width: 100%;
    height:100vh;
  }
  .logo img{
    width: 45%;
  }
  .image-text{
    flex-direction: column;
  }
  .image-text img{
    width: 100%;
  }
  .Word-combo h1{
    font-size: 25px;
    text-align: center;
    width: 350px;
  }
  .Word-combo p{
    text-align: center;
    width: 285px;
    margin-left: 30px;
    color: white;
  }
  .link a {
    display: inline-block;
    background-color: white;
    margin-top: 70px;
    margin-left:85px ;
    padding: 8px 60px;
    text-align: center;
    border-radius: 25px;
    font-family: "Poppins", sans-serif;
    box-shadow: 0 8px 17px -8px black;
    transition: all 0.3s ease;
    text-decoration: none;
  }
  .socials {
    text-align: center;
    position: absolute;
    top: 790px;
    left: 125px;
  }
  .socials i {
    color: white;
    font-size: 15px;
    position: relative;
    width: 20px;
    height: 20px;
  }
  .socials a i::after{
    content: '';
    position: absolute;
    height: 33px;
    width: 33px;
    border: 1.5px solid white;
    border-radius: 50%;
    left: -7px;
    bottom: -4px;
    transition: all 0.3s ease;
  }
} 